.header {
  display: block;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &.subNavbar {
    color: #64c41c;
    background: black;
  }
}
.navbarContent {
  display: flex;
  align-items: center;

  &.mainNavbar {
    width: 100%;
    justify-content: center;

    .navbarItems {
      border-left: none;
    }
  }

  .navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    // border-left: 1px solid lightgray;

    &.logo {
      padding: 0 8px;
    }

    &.menu {
      text-transform: uppercase;
      font-weight: 500;
    }

    &.emailBlock {
      align-items: baseline;
      font-size: 16px;

      .navbarItem {
        padding: 8px;
      }
    }

    // &.socialIcons {
    //   background: #32bffc;
    // }

    p {
      margin-bottom: 0;
    }

    .navbarItem {
      padding: 8px 16px;

      &.logoText {
        margin-top: 0;
        color: #898a9c;
        font-size: 18px;
        border-left: 1px solid #898a9c;
      }
    }

    .btn {
      border: 1px solid black;
      border-radius: 24px;
      background-color: cornflowerblue;
      color: white;
    }
    .phoneno {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;

      span {
        margin-left: 8px;
      }
    }
  }
}
