.aboutUs {
  display: block;
  background: #f4f8fd;
}

.featuresBlock {
  display: flex;

  .imageBlock {
    margin: 32px;
    margin-right: 64px;

    img {
      width: 500px;
    }
  }

  .features {
    h5 {
      margin-bottom: 8px;
    }
    .subtitle {
      font-size: 32px;
      margin-bottom: 0;
    }
    .featuresList {
      display: flex;
      flex-direction: column;

      p {
        margin-bottom: 0;
      }

      ul {
        list-style-type: disclosure-closed;

        li {
          padding: 8px;
        }
      }
    }
  }
}
