.pageTitle {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background: linear-gradient(
      to right bottom,
      rgba(66, 99, 192, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(https://cdn.pixabay.com/photo/2020/05/25/17/03/travel-5219496_1280.jpg);

  h1 {
    font-size: 48px;
    font-weight: 400;
    margin: 16px;
  }
}
