.pageTitle {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  background: linear-gradient(to bottom, rgb(52, 204, 4), rgb(5, 188, 249));

  h1 {
    font-size: 48px;
    font-weight: 400;
    margin: 16px;
  }
}
