.countries {
  position: relative;
  display: block;
  height: 30vh;
  //   background-image: url("../worldMap.jpg");
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/worldMap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.25);
    // opacity: 0.6;
  }

  .countrySection {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .country {
      text-align: center;
      margin: 16px;
      padding: 16px;
      background: white;
    }
  }
}
