.carousel {
  position: relative;
  display: block;

  img {
    height: 300px;
    object-fit: cover;
  }
}

.carousel-track {
  height: 300px !important;
}

.consultationBlock {
  position: absolute;
  display: flex;
  right: 32px;
  top: 32px;
  z-index: 1;

  button {
    padding: 8px 16px;
    border-radius: 16px;
    margin-right: 8px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
