.countries {
  position: relative;
  display: block;
  min-height: 70vh;
  // background-image: url("../worldMap.jpg");
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/worldMap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .countrySection {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;

    .country {
      text-align: center;
      margin: 16px;
      padding: 16px;
      background: white;
      border-radius: 16px;
      transition: transform 0.3s;

      img {
        width: 200px;
        height: 150px;
      }

      &:hover {
        transform: scale(1.03) translateY(-1.5rem);
      }
    }
  }
}
