.footer {
  display: block;
  color: black;
  background: linear-gradient(
      to right bottom,
      rgba(66, 99, 192, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(https://cdn.pixabay.com/photo/2020/05/25/17/03/travel-5219496_1280.jpg);

  .footerSection {
    display: flex;
    justify-content: space-between;
    color: #000;

    div {
      width: 30%;
      margin: 16px;
      padding: 16px;

      p {
        margin-bottom: 0;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 16px;
      }
    }
  }

  .footerContactUs {
    p {
      margin-top: 4px;
    }
  }

  .contactInfo {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    .contactDiv {
      display: flex;
      width: 100%;
      //   justify-content: space-between;
      align-items: center;
      background-color: #127caa;

      div {
        // flex: 100%;
        padding: 16px;

        p {
          margin: 4px;
        }
      }

      .iconBlock {
        width: 24px;
        height: 24px;
        margin: 16px;
        background-color: #53c9fc;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      &.phoneBlock {
        color: white;
        background-color: #183175;

        .iconBlock {
          background-color: white;

          svg {
            color: black;
          }
        }
      }
    }
  }

  .copyrightInfo {
    padding: 8px;
    color: #000;
    text-align: center;

    .menu {
      a {
        padding: 0px 8px;
        text-decoration: none;
        color: #000;
        font-weight: 500;
        border-right: 2px solid #000;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
