/*
 * VARIABLES
 * Shared variables for all pages and components
 * ========================================================================== */

/*
 * Colours
 * ------------------------------------------------------------------------ */

$colour-primary: #f68b1f; // TODO: This orange is WIP
$colour-primary-light: red; // TODO: Update this colour
$colour-secondary: #64c3af;
$colour-secondary-light: #8fffb6;
$colour-highlight: #ed0180;
$colour-highlight-text: #3da9d1;
// $colour-cep-branding: #fff545;
// new preview banner cep-branding color
$colour-cep-branding: #fff546;
$colour-error: #d10000;

$colour-status: #24bddb;

$colour-black: #111;
$colour-white: #fff;
$colour-cyan: #24bddb;
$colour-cyan-dark: #003c67;
$colour-oceangreen: #007872;
$colour-alertorange: #aa5d00;
$colour-alertred: #d10000;

$colour-grey-50: #f6f6f6; // Light Grey #3
$colour-grey-100: #eee; // Light Grey #2
$colour-grey-200: #ccc; // Light Grey #1
$colour-grey-300: #aaa;
$colour-grey-400: #999;
$colour-grey-500: #777; // Mid Grey
$colour-grey-600: #666;
$colour-grey-700: #555; // Dark Grey #1
$colour-grey-800: #333;
$colour-grey-900: #222; // Dark Grey #3

/*
   * Baseline
   * ------------------------------------------------------------------------ */

$baseline: 8px;
$baseline-half: $baseline/2;
$baseline-1: $baseline;
$baseline-2: $baseline * 2;
$baseline-3: $baseline * 3;
$baseline-4: $baseline * 4;
$baseline-5: $baseline * 5;
$baseline-6: $baseline * 6;

/*
   * Fonts
   * ------------------------------------------------------------------------ */

$font-scale: 1.3;
$font-size-rem: 16px;
$font-size-md: 1rem;

// // $font-size-sm: (1 / $font-scale) * $font-size-md;
// $font-size-sm: 13.5/15 * 1rem;
// // $font-size-xs: (1 / $font-scale) * $font-size-sm;
// $font-size-xs: 10.4/15 * 1rem;
// // $font-size-xxs: (1 / $font-scale) * $font-size-xs;
// $font-size-xxs: 8/15 * 1rem;
// // $font-size-lg: $font-scale * $font-size-md;
// $font-size-lg: 17.6/15 * 1rem;
// // $font-size-xlg: $font-scale * $font-size-lg;
// $font-size-xlg: 22.8/15 * 1rem;
// // $font-size-xxlg: $font-scale * $font-size-xlg;
// $font-size-xxlg: 25/15 * 1rem;
// // $font-size-xxxlg: $font-scale * $font-size-xxlg;
// $font-size-xxxlg: 29.7/15 * 1rem;
// $font-size-xxxxlg: 38.6/15 * 1rem;

$font-size-xxxs: 8/16 * 1rem;
$font-size-xxs: 10/16 * 1rem;
$font-size-xs: 12/16 * 1rem;
$font-size-sm: 14/16 * 1rem;
$font-size-lg: 18/16 * 1rem;
$font-size-xlg: 24/16 * 1rem;
$font-size-xxlg: 28/16 * 1rem;
$font-size-xxxlg: 34/16 * 1rem;
$font-size-xxxxlg: 40/16 * 1rem;
$font-size-xxxxxlg: 48/16 * 1rem;

$font-family-primary: "Gotham A", "Gotham B", Helvetica, sans-serif;
$font-family-secondary: "Chronicle Display A", "Chronicle Display B", Helvetica,
  sans-serif;

/*
  * Containers
  * ------------------------------------------------------------------------ */

$container-width-xs: 20rem;
$container-width-sm: 33.5rem;
$container-width-md: 40rem;
$container-width-lg: 60rem;
$container-width-xlg: 80rem;
$container-width-xxlg: 100rem;
$container-width-xxxlg: 120rem;

/*
  * Borders
  * ------------------------------------------------------------------------ */

$border: 1px solid $colour-grey-200;

$border-radius-md: $baseline/4;
$border-radius-lg: $baseline/2;
$border-radius: $border-radius-md;

/*
  * Animation
  * ------------------------------------------------------------------------ */

$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1); /* easeInOutQuint */

// Based on attention_seekers/shakeY.css from animate.css.
// Uses cubic-bezier(.2,.77,.44,.87) for timing.
@keyframes screenShakeVert {
  // Rest states.
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  // Up motions.
  10% {
    transform: translate3d(0, -7.5px, 0);
  }

  30% {
    transform: translate3d(0, -3px, 0);
  }

  50% {
    transform: translate3d(0, -1.5px, 0);
  }

  70% {
    transform: translate3d(0, -0.9px, 0);
  }

  90% {
    transform: translate3d(0, -0.1px, 0);
  }

  // Down motions.
  1% {
    transform: translate3d(0, 10px, 0);
  }

  20% {
    transform: translate3d(0, 6px, 0);
  }

  40% {
    transform: translate3d(0, 2px, 0);
  }

  60% {
    transform: translate3d(0, 1px, 0);
  }

  80% {
    transform: translate3d(0, 0.4px, 0);
  }
}

// Reverse of screenShakeVert.
@keyframes screenShakeVertReverse {
  // Rest states.
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  // Up motions.
  10% {
    transform: translate3d(0, 7.5px, 0);
  }

  30% {
    transform: translate3d(0, 3px, 0);
  }

  50% {
    transform: translate3d(0, 1.5px, 0);
  }

  70% {
    transform: translate3d(0, 0.9px, 0);
  }

  90% {
    transform: translate3d(0, 0.1px, 0);
  }

  // Down motions.
  1% {
    transform: translate3d(0, -10px, 0);
  }

  20% {
    transform: translate3d(0, -6px, 0);
  }

  40% {
    transform: translate3d(0, -2px, 0);
  }

  60% {
    transform: translate3d(0, -1px, 0);
  }

  80% {
    transform: translate3d(0, -0.4px, 0);
  }
}

/*
  * Exported Variables for JavaScript
  * ------------------------------------------------------------------------ */

:export {
  /* stylelint-disable */
  baseline: $baseline;
  media-xs: $container-width-xs;
  media-sm: $container-width-sm;
  media-md: $container-width-md;
  media-lg: $container-width-lg;
  media-xlg: $container-width-xlg;
  media-xxlg: $container-width-xxlg;
  media-xxxlg: $container-width-xxxlg;
  font-scale: $font-scale;
  font-family-primary: $font-family-primary;
  font-family-secondary: $font-family-secondary;
  colour-primary: $colour-primary;
  colour-secondary: $colour-secondary;
  colour-highlight: $colour-highlight;
  colour-black: $colour-black;
  colour-grey-200: $colour-grey-200;
  colour-grey-800: $colour-grey-800;
  colour-grey-900: $colour-grey-900;
  colour-white: $colour-white;
  border-radius: $border-radius;
  border-radius-md: $border-radius-md;
  border-radius-lg: $border-radius-lg;
  /* stylelint-enable */
}
